// Base
// -------------------
// Used for global styles
// Or to override certain Atom core styles
// -------------------

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;

  &:last-child {
    border-right: none;
  }
}

.atom-panel-container.left {
  border-right: 1px dashed rgba(0,0,0,0.1);
}

.settings-view .config-menu {
  background: #020110;
}

.settings-view .package-card,.settings-view .package-card:hover {
  background-color: #1b1a23;
}
