// Base
// -------------------
// Used for global styles
// Or to override certain Atom core styles
// -------------------

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;

  &:last-child {
    border-right: none;
  }
}

.atom-panel-container.left {
  border-right: 1px dashed rgba(0,0,0,0.1);
}

.atom-dock-mask,
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.left,
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.right {
  border-right: 1px solid rgba(255,255,255,0.05);
}

.horizontal-scrollbar {
  height: 2px !important;
}

.scrollbar-corner {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.01);
}

::-webkit-scrollbar-thumb {
  background: #303758;
}

::-webkit-scrollbar-thumb:hover {
  background: #303758;
}
