atom-text-editor[mini] {
  padding-left: @component-padding/2;
  color: @text-color;
  border-radius: @component-border-radius;
  background-color: #131823;
  border: 1px solid rgba(39, 42, 56, 0.49);

  &.is-focused {
    background-color: #131823;
  }

  .placeholder-text {
    color: @text-color;
  }
}

.editor .selection .region {
  background-color: rgba(255, 255, 255, 0.065);
}

.editor.is-focused .selection .region {
  background-color: rgba(255, 255, 255, 0.065);
}
