.tree-view-resizer {
  display: none;
}

.tree-view {
  background-color: #020b19;

  .list-item {
    color: #99a2af;
    font-size: 11px;
    font-weight: 500;
  }

  .list-item.selected {
    color: #ffffff;
    font-weight: 700;
  }
}
