.tree-view-resizer {
  border-right: 1px solid rgba(255,255,255,0.1);
}

.tree-view {
  background-color: #020110;
  border-right: 1px solid rgba(255,255,255,0.1);
  
  .list-item.selected {
    color: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #002bff;
}
